@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

/*status lights for jquery*/
#statusLight {
	position: absolute;
	right: 1px;
	top: 1px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: red;
}

/*sitewide styles*/
html {
	font-family: "Ubuntu", sans-serif;
}